/* ===== sidebar ===== */

.logo {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  text-align: center;
}

.logo:hover {
  cursor: pointer;
}

.logo span {
  color: #60a5fa;
}

.nav-menu ul {
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: var(--primary-text-color);
  display: block;
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.nav-menu a:hover {
  background-color: #242e3d;
}

.contains:hover ul {
  display: block;
  margin-top: 0.5rem;
}

.contains ul {
  display: none;
  margin-top: 0.5rem;
}

.contains ul a {
  font-size: 0.95rem;
  opacity: 0.85;
}

/* ===== header ===== */

header div {
  width: 50%;
  display: flex;
  justify-content: end;
}

#searchBar {
  width: 100%;
}

[aria-label='profile'] {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--border-color); /* The color of the ring */
  padding: 5px;
}

/* ===== main ===== */

main .section {
  margin-bottom: 20px;
}

.section {
  background-color: var(--section-bg-color);
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid var(--border-color);
}

.game-card {
  max-width: 400px;
}

.img-container {
  border: 1px solid var(--border-color);
  text-align: center;
  border-radius: 1rem;
  background-color: black;
  height: 350px;
  width: 300px;
}
