.form-layout {
  margin-top: 1rem;
}

.center-y {
  display: flex;
  justify-content: center;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-input input,
textarea {
  width: 75%;
}

select {
  width: 50%;
}

.action-btn {
  border: none;
  background-color: rgb(10, 0, 157);
  color: white;
  padding: 0.9rem 1.5rem;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

.action-btn:hover {
  transform: translateY(-5px);
  background-color: rgb(16, 1, 220);
}
